n8n_workflow.json
{
  "name": "Investment Research Copilot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "research-copilot-v1",
      "notes": "POST /research  body: {query, months, budget_limit}"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nreturn [{ json: {\n  query: b.query ?? 'Research Apple',\n  months: parseInt(b.months ?? 6, 10),\n  budget_limit: parseInt(b.budget_limit ?? 5, 10)\n} }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Extract query, months, budget_limit with safe defaults"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/resolve",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ query: $json.query }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Resolve Symbol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "notes": "Calls Python LoRA v1.2 resolver + normalize layer → {symbol, normalized, raw_output}"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/mcp/get_price_history?symbol={{ $('Resolve Symbol').item.json.symbol }}&months={{ $('Parse Request').item.json.months }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "MCP: get_price_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "notes": "Yahoo Finance MCP — returns current_price, period_return, high, low, avg_volume"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/mcp/get_ticker_info?symbol={{ $('Resolve Symbol').item.json.symbol }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "MCP: get_ticker_info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "notes": "Yahoo Finance MCP — returns market_cap, pe_ratio, sector"
    },
    {
      "parameters": {
        "jsCode": "const price = $('MCP: get_price_history').item.json;\nconst info  = $('MCP: get_ticker_info').item.json;\nconst sym   = $('Resolve Symbol').item.json;\nconst req   = $('Parse Request').item.json;\n\nconst s   = sym.symbol;\nconst ret = price.period_return;\nconst dir = ret >= 0 ? String.fromCodePoint(0x25b2) : String.fromCodePoint(0x25bc);\nconst bar = '='.repeat(60);\nconst sep = '-'.repeat(50);\n\nconst memo = [\n  bar,\n  '  RESEARCH MEMO: ' + (info.company || s) + ' (' + s + ')',\n  bar,\n  '  Query:   ' + req.query,\n  '  Period:  ' + req.months + ' months',\n  '',\n  '  Current Price:   $' + price.current_price + '  [1]',\n  '  Period Return:   ' + dir + ' ' + Math.abs(ret).toFixed(2) + '%  [1]',\n  '  Period High:     $' + price.period_high + '  [1]',\n  '  Period Low:      $' + price.period_low + '  [1]',\n  '  Avg Volume:      ' + Number(price.avg_volume).toLocaleString() + '  [1]',\n  '  Market Cap:      ' + (info.market_cap || 'N/A') + '  [2]',\n  '  P/E Ratio:       ' + (info.pe_ratio  || 'N/A') + '  [2]',\n  '  Sector:          ' + (info.sector    || 'N/A') + '  [2]',\n  '',\n  '  Data Sources',\n  '  ' + sep,\n  '  [1] get_price_history(' + s + ', months=' + req.months + ')',\n  '      -> price history, period return, high, low, avg volume',\n  '  [2] get_ticker_info(' + s + ')',\n  '      -> market cap, P/E ratio, sector',\n  '',\n  bar\n].join('\\n');\n\nreturn [{ json: {\n  memo,\n  symbol:      s,\n  normalized:  sym.normalized,\n  raw_output:  sym.raw_output,\n  budget_used: 2,\n  budget_limit: req.budget_limit\n} }];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Build Memo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "Assembles research memo with [1]/[2] citation markers tracing values to MCP tool calls"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300],
      "notes": "Returns {memo, symbol, normalized, raw_output, budget_used, budget_limit}"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Request", "type": "main", "index": 0}]]
    },
    "Parse Request": {
      "main": [[{"node": "Resolve Symbol", "type": "main", "index": 0}]]
    },
    "Resolve Symbol": {
      "main": [[{"node": "MCP: get_price_history", "type": "main", "index": 0}]]
    },
    "MCP: get_price_history": {
      "main": [[{"node": "MCP: get_ticker_info", "type": "main", "index": 0}]]
    },
    "MCP: get_ticker_info": {
      "main": [[{"node": "Build Memo", "type": "main", "index": 0}]]
    },
    "Build Memo": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "research-copilot-local",
    "templateCredsSetupCompleted": true
  },
  "id": "research-copilot-workflow-v1",
  "tags": [
    {"id": "1", "name": "research-copilot"},
    {"id": "2", "name": "mcp"},
    {"id": "3", "name": "ticker-disambiguation"}
  ]
}
